<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
      <a class="navbar-brand" href="#">Maxigarten</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kategorien
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">              
              <div class="container">
                  <div class="row">
                      <div class="col-md-4">                
                  <ul class="nav-list">
                    <li>
                          <a class="nav-link" href="category/gartenmoebel">
                          <span class="text-uppercase text-white">Gartenmöbel</span>
                          </a>
                    </li>      
                    <li>
                          <a class="nav-link" href="category/gartentechnik">
                          <span class="text-uppercase text-white">Gartentechnik</span>
                          </a>
                        </li>      
                        <li>
                          <a class="nav-link" href="category/sonnenschutz">
                          <span class="text-uppercase text-white">Sonnenschutz</span>
                          </a>
                        </li>      
                        <li>
                          <a class="nav-link" href="category/gartenhaeuser">
                          <span class="text-uppercase text-white">Gartenhäuser</span>
                          </a>
                        </li>      
                        <li>
                          <a class="nav-link" href="category/gartenpavillons">
                          <span class="text-uppercase text-white">Gartenpavillons</span>
                          </a>
                        </li>      
                      </ul>  
                      </div>
                      <div class="col-md-4">                       
                      <ul class="nav-list">        
                        <li>

                            <a class="nav-link" href="category/gartenpavillons">
                              <span class="text-uppercase text-white">Gartenpavillons</span>
                            </a>
                          </li>      
                          <li>
                              <a class="nav-link" href="category/sauna-und-pool">
                                <span class="text-uppercase text-white">Sauna & Pool</span>
                              </a>
                            </li>
                            <li>
                                <a class="nav-link" href="category/sauna-und-pool">
                                <span class="text-uppercase text-white">Sauna & Pool</span>
                                </a>
                              </li>      
                              <li>
                                <a class="nav-link" href="category/gartentische">
                                <span class="text-uppercase text-white">Gartenmöbel</span>
                                </a>
                              </li>      
                              <li>
                                <a class="nav-link" href="category/gartentechnik">
                                <span class="text-uppercase text-white">Gartentechnik</span>
                                </a>
                              </li>      
                              <li>
      
                                <a class="nav-link" href="category/sonnenschutz">
                                <span class="text-uppercase text-white">Sonnenschutz</span>
                                </a>
                              </li>      
                              <li>
                                <a class="nav-link" href="category/gartenhaeuser">
                                  <span class="text-uppercase text-white">Gartenhäuser</span>
                                </a>
                              </li>                            
                          </ul>  
                        </div>
                        <div class="col-md-4">                       
                            <ul class="nav-list">        
                              <li>
      
                                  <a class="nav-link" href="category/gartenpavillons">
                                    <span class="text-uppercase text-white">Gartenpavillons</span>
                                  </a>
                                </li>      
                                <li>
                                    <a class="nav-link" href="category/sauna-und-pool">
                                      <span class="text-uppercase text-white">Sauna & Pool</span>
                                    </a>
                                  </li>
                                  <li>
                                      <a class="nav-link" href="category/sauna-und-pool">
                                      <span class="text-uppercase text-white">Sauna & Pool</span>
                                      </a>
                                    </li>      
                                    <li>
                                      <a class="nav-link" href="category/gartentische">
                                      <span class="text-uppercase text-white">Gartenmöbel</span>
                                      </a>
                                    </li>      
                                    <li>
                                      <a class="nav-link" href="category/gartentechnik">
                                      <span class="text-uppercase text-white">Gartentechnik</span>
                                      </a>
                                    </li>      
                                    <li>
            
                                      <a class="nav-link" href="category/sonnenschutz">
                                      <span class="text-uppercase text-white">Sonnenschutz</span>
                                      </a>
                                    </li>      
                                    <li>
                                      <a class="nav-link" href="category/gartenhaeuser">
                                        <span class="text-uppercase text-white">Gartenhäuser</span>
                                      </a>
                                    </li>                            
                                </ul>  
                              </div>                         
                      </div>                                                
                    </div>
                  </div> 
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>            
  </nav>

</header>